
<div class="fill-height" fxLayoutAlign="center center" fxLayout="column">
  <mat-card>
    <mat-card-title>
      Nueva Clave
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="key.title">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput placeholder="Usuario" [(ngModel)]="key.data.user">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" [(ngModel)]="key.data.pass">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <a color="accent" mat-button (click)="goBack()">cancelar</a>
      <a color="accent" mat-raised-button (click)="save()">añadir</a>
    </mat-card-actions>
  </mat-card>
</div>
