
<div class="fill-height" fxLayoutAlign="center center" fxLayout="column">
  <mat-card *ngIf="key">
    <mat-card-title>
      <span class="key-title">{{ key.title }}</span>
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Usuario" [(ngModel)]="key.data.user">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" [(ngModel)]="key.data.pass">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <a color="accent" mat-button (click)="goBack()">cancelar</a>
      <a color="accent" mat-raised-button (click)="save()">guardar</a>
    </mat-card-actions>
  </mat-card>
</div>
