
<mat-grid-list *ngIf="keys && keys.length != 0;else empty" cols="6" rowHeight="100px">
  <mat-grid-tile *ngFor="let key of keys">
    <mat-card class="key-card" routerLink="/detail/{{ key.id }}">
      <span class="mat-title">{{ key.title }}</span>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #empty>
  <div class="fill-height" fxLayoutAlign="center center" fxLayout>
    <span class="mat-display-1">Aún no hay claves guardadas.</span>
  </div>
</ng-template>

<a mat-fab routerLink="/add" class="fixed-fab">
  <mat-icon aria-label="add a new key">add</mat-icon>
</a>
