/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* uppercase buttons */
[mat-raised-button], [mat-button] {
  text-transform: uppercase;
}

.common-top {
  margin-top: 50px;
}

.fill-height {
  height: calc(100vh - 64px);
}
